/* normalize.css has been included before this file */

/*for error msg */
#error {
	margin-left: 5%;
	margin-top: 30px;
	font-size: 22px;
	font-weight: bold;
}
/*CSS for the list results*/
ul {
	list-style: none;
}
.primary-result {
	display: inline-block;
	color: white;
	background-color: dodgerblue;
	padding: 10px 20px;
	border-radius: 5px;
	margin: 10px;
	float: left;
}

.primary-result:hover {
	cursor: pointer;
	opacity: 0.8;
}

/*CSS for the Description*/
.description {
	position: absolute;
	top: 0;
	left: -2000px;
	background-color: tomato;
	color: white;
	transition: all 1s;
	text-align: left;
}
.description-container {
  padding: 20px;
  max-width: 500px;
}
.description-container a {
  text-decoration: underline;
  color: aliceblue;
}
.description-container a:hover {
	cursor: pointer;
	opacity: 0.8;
}
#close {
  margin: 0;
  line-height: initial;
  height: initial;
  font-size: 27px;
  font-weight: bold;
}

#close:hover {
	cursor: pointer;
	opacity: 0.8;
}

/*The header/navbar*/
nav {
	height: 120px;
	clear: both;
	width: 90%;
	border-bottom: 1px solid black;
	margin: 0 5%;
}
#submit:hover {
	cursor: pointer;
	opacity: 0.8;
}
#search {
	text-align: center;
}
nav h1 {
	display: inline-block;
	float: left;
	height: 120px;
	line-height: 120px;
	margin: 0 0 0 10px;
	font-size: 50px;
}
#results-container #search-nav {
	display: inline-block;
	float: right;
	font-size: 15px;
	height: 120px;
	line-height: 120px;
	margin: 0 10px 0 0;
	text-align: center;
}

/*For the overlay*/
#overlay-container {
	width: 100vw;
	height: 100vh;
	background-color: black;
	color: white;
	display: table;
	position: absolute;
	top: 0;
	left: 0;
}

#overlay-container h1 {
	margin: 0;
	font-size: 80px;
}

#overlay-container #landing-container {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

#overlay-container p {
	font-size: 20px;
}

#overlay-container #search-overlay {
	border-style: none;
	height: 6vh;
	width: 40%;
	color: black;
	text-align: center;
	margin-bottom: 20px;
}

#overlay-container #submit-overlay {
	border-style: none;
	height: 4vh;
	width: 20%;
	color: white;
	background-color: dodgerblue;
	text-align: center;

}

#overlay-container #submit-overlay:hover {
	cursor: pointer;
	opacity: 0.8;
}